.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  height: 100vh;
  position: relative;

  /* & > * {
    border: 1px solid red;
  } */
  &__flex {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
  }

  &__greetings {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    text-align: center;

    & h1 {
      font-size: 2.4rem;
      text-transform: capitalize;
      color: var(--color-gunmetal);
    }

    & p {
      color: var(--color-grey-blue);
    }
  }
}

.logo-container svg {
  transform: scale(60%);
  display: block;
}

.display {
  padding-right: 0.5rem;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & > * {
    flex: 1;
  }

  & h1 {
    font-size: 1.8rem;
    margin-top: 0.5rem;
  }
}

.bg-color {
  background-color: #d6e6fe;
  position: absolute;
  width: 112%;
  height: 80%;
  z-index: -10;
  border-bottom-right-radius: 3rem;

  @media (min-width: 500px) {
    height: 70%;
  }
}
@media (min-width: 768px) {
  .display {
    padding-right: 3rem;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
  }

  .result {
    display: flex;
    flex-direction: row;
    & > * {
      flex: 1;
    }

    & h1 {
      font-size: 2.3rem;
    }
  }

  .description {
    align-self: center;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 80%;
  }
  .hero {
    align-items: start;
    overflow: visible;
    &__greetings {
      text-align: start;
      flex-shrink: 0;
      flex-grow: 0;
      margin-top: 4rem;

      & h1 {
        font-size: 4rem;
        padding-bottom: 1rem;
      }

      & p {
        font-size: 1.2rem;
      }
    }

    &__flex {
      flex-direction: row;
      height: 74%;
      margin-top: 4rem;
      align-items: center;
      // border: 1px solid red;
      padding-top: 4rem;

      & > * {
        flex: 1;
      }
    }
  }

  .logo-container {
    margin-top: 3rem;
    position: absolute;
  }

  .bg-color {
    width: 67%;
    height: 100%;
  }

  .calculator {
    gap: 1.8rem;
    & h3 {
      font-size: 1.5rem;
    }
  }

  .logo-container svg {
    transform: scale(100%);
  }

  .logo-container {
    position: relative;
    left: 10%;
  }

  .inp input {
    padding: 1.2rem;
  }

  input {
    font-size: 1.4rem;
    font-weight: 500;
  }

  .inp input:focus::placeholder {
    display: none;
  }

  .display {
    padding-right: 4rem;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
  }

  .result {
    display: flex;

    & > * {
      flex: 1;
    }

    & h1 {
      font-size: 3.3rem;
    }
  }
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:-moz-placeholder {
  color: transparent;
}
input:focus::-webkit-input-placeholder {
  opacity: 0;
}
input:focus::-moz-placeholder {
  opacity: 0;
}
input:-moz-placeholder {
  opacity: 0;
}
